/*
Author: Peter Jungers
Date: January 2023
Description: CSS stylesheet for Peter Jungers portfolio
*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Poppins:wght@200;300&display=swap');


/* || CSS RESET */
html, body, header, main, footer, section, h1, h2, h3, h4, p, a, ul, li, table, caption, th, tr, td, img, figure, figcaption {
    margin: 0;
    padding: 0;
    border: 0;
}


/* || SITE COLORS */
:root {
    --site-blue: #37628d;
    --site-light-blue: #c8d9ea;
    --site-teal: #48777a;
    --site-light-teal: #cee2e3;
    --site-brown: #725c55;
    --site-light-brown: #d5cac7;
    --site-dark-gray: #646464;
    --site-gray: #9a9a9a;;
    --site-medium-gray: #d0d0d0;
    --site-medium-light-gray: #e0e0e0;
    --site-light-gray: #e8e8e8;
    --site-very-light-gray: #f8f8f8;
    --site-black: #000;
    --python-blue: #7ea6cd;
    --python-light-blue: #c8d9ea;
    --site-maroon: #753e3e;
    --site-light-maroon: #dec7c7;
    --site-light-orange: #efd3a1;
    --site-purple: #6d4aab;
    --site-light-purple: #d8d1e5;
    --javascript-yellow: #b7a454;
}


/* || GENERAL STYLES */
* {
    box-sizing: border-box;
}

body {
    background-color: var(--site-blue);
}

.background {
    background-color: var(--site-very-light-gray);
}

p a:link,
p a:visited,
p a:hover,
p a:focus,
p a:active {
    color: var(--site-black);
}

a {
    text-decoration-thickness: .03em;
    text-underline-offset: 2px;
}

a:hover {
    text-decoration-thickness: .05em;
}

a:focus {
    outline-color: gray;
}

li {
    list-style-type: none;
}

img {
    width: 100%;
    max-width: 800px;
}

figure {
    margin-bottom: 2em;
}

figcaption {
    font-family: "Cormorant Garamond", serif;
    font-style: italic;
    /*padding-left: 4rem;*/
    margin-top: -.5rem;
    /*text-align: left;*/
}


/* || UTILITIES */
.border-top {
    /*border-top: 1px solid var(--site-medium-gray);*/
    /*padding: .25rem 0;*/
}

.text-weight-300 {
    font-weight: 300;
}

.align-center {
    text-align: center;
}


/* Header */
header {
    /*margin-bottom: 2.25rem;*/
}

h1.main-heading {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    margin-bottom: 2.25rem;
}

h1 .main-subheading {
    font-weight: 200;
}


/* Nav sidebar */
nav.nav-desktop {
    background-color: var(--site-medium-light-gray);
    position: sticky;
    top: 0;
    align-self: start;
    height: 100vh;
    border-left: 1px solid var(--site-gray);
}

nav h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
}

nav h2 a {
    color: var(--site-black);
    text-decoration: none;
}

nav h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 1.15rem;
}

nav ul:first-of-type {
    margin-top: 2rem;
    margin-bottom: 3rem;
    padding: 0;
}

nav li a,
nav li  a:visited {
    color: var(--site-blue);
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

nav li a:hover,
nav li a:focus,
nav li a:active {
    color: var(--site-black);
}

nav .super-link {
    margin-top: .8rem;
}

nav .list-em-dash {
    color: var(--site-blue);
    list-style-type: "—";
    margin-left: 1rem;
    padding-left: 0;
}

.nav-padding {
    padding: 2.5rem;
}


/* Main */
#container-main {
    min-width: 75%;
    max-width: 100%;
    margin-left: 15%;
    padding-top: 2.5rem;
}

.grid-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    column-gap: 3%;
}

.paragraphs {
    margin-bottom: 2rem;
}

.paragraphs p {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 1.75rem;
    margin-bottom: 1.25rem;
}

.paragraphs p:last-of-type {
    margin-bottom: 0;
}

h2.project-heading {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 1.35rem;
    margin-bottom: .85rem;
}

.image-flex {
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 3%;
}

.project-info {
    margin-bottom: 1rem;
}

.project-info ul {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
}

.project-info li {
    margin-bottom: .5rem;
}

.project-info a:link,
.project-info a:visited,
.project-info a:hover,
.project-info a:focus,
.project-info a:active {
    color: var(--site-black);
}



/* Tables */
.grid-tables {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 3%;
}

.grid-tables table {
    margin-bottom: 1.5rem;
}

table {
    font-family: "Poppins", sans-serif;
    border-spacing: 1px;
}

caption {
    font-weight: 200;
    font-size: 1.25rem;
    text-align: left;
    margin-bottom: .25rem;
    padding-left: .25rem;
}

th,
td {
    text-align: left;
    padding: .25rem .5rem;
}

th {
    font-weight: 300;
    color: var(--site-black);
    background-color: var(--site-medium-gray);
}

td {
    font-weight: 200;
    background-color: var(--site-light-gray);
}

table a:link,
table a:visited,
table a:hover,
table a:focus,
table a:active {
    color: var(--site-black);
}

.fixed-table-width {
    table-layout: fixed;
    width: 100%;
}

.table-gray th {
    background-color: var(--site-gray);
}

.table-gray tr {
    background-color: var(--site-light-gray);
}

#languages {
    grid-column: 1 / span 3;
}

#technical-skills {
    grid-column: 4 / span 3;
    align-self: start;
}

#software {
    grid-column: 1 / span 2;
    align-self: start;
}

/* Contains Education and Hobbies tables */
#table-container {
    grid-column: 3 / span 4;
    align-self: start;
}

#education {
    width: 100%;
}


/* Footer */
footer {
    margin: 2rem 0;
}

footer p {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: .85rem;
}
