{% extends "template.html" %}

{% block header %}
    <h1 class="main-heading">Frontend exercises</h1>
{% endblock header %}

{% block main_content %}
    <section class="paragraphs margin-btm-3">
        <p>
            The exercises below are varied in their objectives, yet all contain aspects of web development that I greatly enjoy: from the affinities frontend work has with graphic design, especially page layout; to the functionality and dynamism afforded by JavaScript; and to the practicality and organization of the Bootstrap framework.
        </p>
    </section>

    <!-- Frontend Mentor -->
    <section id="frontend-mentor" class="margin-btm-4">
        <h2 class="project-heading">Frontend Mentor</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>November 2022
                </li>
                <li>
                    <span class="text-weight-300">URL: </span><a href="http://peterjungers.github.io/frontend_mentor/news_homepage" target="_blank">peterjungers.github.io/frontend_mentor/news_homepage</a>
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/peterjungers.github.io/tree/main/frontend_mentor/news_homepage" target="_blank">github.com/.../frontend_mentor/news_homepage</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Using the specifications set at <a href="https://www.frontendmentor.io/challenges/news-homepage-H6SWTa1MFl" target="_blank">Frontend Mentor</a>, create a site using HTML, CSS, and JavaScript that exactly mimics the design objective.
                </li>
                <li>
                    <span class="text-weight-300">Unforeseen learning outcomes: </span>Perhaps it should never be considered unforeseen, but in this project, as with all, my knowledge and appreciation for the capabilities and depth of CSS greatly increased.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                <a href="https://www.frontendmentor.io" target="_blank">Frontend Mentor</a> is a site that provides real-world-inspired challenges for anyone looking to improve their frontend skills. They provide project specifications, any necessary images or graphics assets, and mock-ups of what the final design should look like. It is up to me to write the code. I felt this exercise was valuable not only as a way to improve my coding knowledge, but as a way to mimic a real-life scenario of designing to spec. I enjoyed the process.
            </p>
            <p>
                The specifications for the "News homepage" project required only desktop and mobile versions of the site—I felt it was appropriate to also design for a tablet viewport. A functioning mobile dropdown using JavaScript was an optional requirement—I chose to make one. I hope to take on more Frontend Mentor challenges in the future as I continue to build up my skills.
            </p>
        </div>
    </section>

    <!-- JavaScript -->
    <section id="javascript" class="margin-btm-4">
        <h2 class="project-heading">JavaScript, an introduction</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>Fall 2022
                </li>
                <li>
                    <span class="text-weight-300">URL: </span><a href="#">peterjungers.com/javascript</a>
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="#">github.com/peterjungers/javascript</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Learn JavaScript!
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                In the fall of 2022, I took my first JavaScript course. Every week or two, we were given a lab to complete. These labs built on previous labs in a knowledge-of-coding sense, but nothing tied them together thematically. Though only a minimal amount of HTML, and no CSS, was required for the course, I early on saw an opportunity to create a cohesive record of all the labs, not only stylistically, but often thematically, that would, at the end of the course, leave me with a historical record of my learning process. The entire course, then, became a project in itself.
            </p>
            <p>
                More detailed information about the project, and the labs themselves, is found at the <a href="#">site's homepage</a>. The course covered basic programming concepts, object-oriented design, DOM manipulation, and jQuery. I learned an awful lot.
            </p>
        </div>
    </section>

    <!-- Sea Isle City -->
    <section id="sea-isle-city" class="margin-btm-4">
        <h2 class="project-heading">Sea Isle City</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>December 2022
                </li>
                <li>
                    <span class="text-weight-300">URL: </span><a href="https://peterjungers.github.io/sea_isle_city" target="_blank">https://peterjungers.github.io/sea_isle_city</a>
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/peterjungers.github.io/tree/main/sea_isle_city" target="_blank">github.com/.../sea_isle_city</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Gain experience using Bootstrap.
                </li>
                <li>
                    <span class="text-weight-300">Unforeseen learning outcomes: </span>This was an interesting exercise in creating an optimal "site" that was really more of a snippet of a site. It put me in mind of when I would create small sites from scratch when I was in high school, in the '90s, where a site might be about any sort of little personal subject matter. Of course, perhaps it's the theme of this site itself that puts me in that nostalgic mood.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                For such a small site, its provenance is a bit lengthy. After some experience with Bootstrap in tutorials, I decided I wanted to use the framework to style the Damon & Felix Die-Cast Racing League site. But I knew I needed more experience before taking on a larger project. I therefore needed subject matter for a small project, and was soon reminded of one that I did at the start of my schooling for Computer Information Systems, when we were just being taught HTML and CSS. I had made a site then based on the coding specifications of the assignment, which told the short story of my childhood trip to Sea Isle City, New Jersey. Eleven months after making that original site, I made it again in Bootstrap.
            </p>
            <p>

            </p>
        </div>
    </section>

{% endblock main_content %}