{% extends "template.html" %}

{% block header %}
    <h1 class="main-heading"><a href="#">Frontend exercises</a></h1>
{% endblock header %}

{% block main_content %}
    <section class="paragraphs margin-btm-3">
        <p>
            The exercises below are via <a href="https://www.frontendmentor.io" target="_blank">Frontend Mentor</a>, which is a site that provides real-world-inspired challenges for anyone looking to improve their frontend skills. They provide project specifications, any necessary images or graphics assets, and mock-ups of what the final design should look like. It is up to me to write the code. I felt these exercises were valuable not only as a way to improve my coding knowledge, but as a way to mimic a real-life scenario of designing to spec. I enjoyed the process.
        </p>
    </section>

    <!-- News homepage -->
    <section id="news-homepage" class="margin-btm-4">
        <h2 class="project-heading">News homepage</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>November 2022
                </li>
                <li>
                    <span class="text-weight-300">URL: </span><a href="http://peterjungers.github.io/frontend_mentor/news_homepage" target="_blank">peterjungers.github.io/frontend_mentor/news_homepage</a>
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/peterjungers.github.io/tree/main/frontend_mentor/news_homepage/" target="_blank">frontend_mentor/news_homepage</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Using the specifications set at <a href="https://www.frontendmentor.io/challenges/news-homepage-H6SWTa1MFl" target="_blank">Frontend Mentor</a>, create a
                    webpage using HTML, CSS, and JavaScript that exactly mimics the design objective.
                </li>
                <li>
                    <span class="text-weight-300">Unforeseen learning outcomes: </span>Perhaps it should never be considered unforeseen, but in this project, as with all, my knowledge and appreciation for the capabilities and depth of CSS greatly increased.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                The specifications for the “News homepage” project required only desktop and mobile versions of the page—I felt it was appropriate to also design for a tablet viewport. A functioning mobile dropdown using JavaScript was an optional requirement—I chose to make one.
            </p>
        </div>
    </section>

    <!-- JavaScript -->
    <section id="sunnyside-agency" class="margin-btm-4">
        <h2 class="project-heading">Sunnyside agency landing page</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>January 2023
                </li>
                <li>
                    <span class="text-weight-300">URL: </span><a href="https://peterjungers.github.io/frontend_mentor/sunnyside_agency_landing_page/" target="_blank">peterjungers.github.io/frontend_mentor/sunnyside_agency_landing_page</a>
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/peterjungers.github.io/tree/main/frontend_mentor/sunnyside_agency_landing_page/" target="_blank">frontend_mentor/sunnyside_agency_landing_page</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Using the specifications set at <a href="https://www.frontendmentor.io/challenges/sunnyside-agency-landing-page-7yVs3B6ef" target="_blank">Frontend Mentor</a>, create a webpage using HTML, CSS, and JavaScript that exactly mimics the design objective.
                </li>
                <li>
                    <span class="text-weight-300">Unforeseen learning outcomes: </span>Better understanding of mobile first design workflow; experience working with SVG files.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                Though the JavaScript component of this challenge was a requirement, the specifications again did not require a tablet viewport version of the page. I again chose to create one in order to have the page fully responsive.
            </p>
        </div>
    </section>
{% endblock main_content %}
