{% extends "template.html" %}

{% block header %}
    <h1 class="main-heading desk-620-header"><a href="#">Peter Jungers<span class="main-subheading"> | Web development</span></a></h1>
    <div class="mob-galaxy-header">
        <h1 class="main-heading"><a href="#">Peter Jungers</a></h1>
        <h1 class="main-subheading"><a href="#">Web development</a></h1>
    </div>
{% endblock header %}

{% block main_content %}
    <section class="paragraphs margin-btm-3">
        <p>
            Hello! My name is Peter Jungers, and I am a web developer with full stack skills. This is my portfolio! I have a special interest in creating sites that are intuitive in their usability,
            yet retain a sense of discovery. I have a keen sense of structure and organization, as well as attention to detail. I apply these skills not only when designing for the user, but also when
            writing transparent and maintainable code.
        </p>
        <p>
            In addition to my technical knowledge, I have backgrounds in graphic design and public education. My design skills merge seamlessly with web development; my time in education has been
            integral in allowing me to exercise the artistry of collaboration and intellectual cultivation. I am always looking to improve my skills and learn new ones in order to become a better web developer. I look forward to beginning my new career. I can be reached at <a href="#">peterjungers@gmail.com</a>, or
            via
            <a href="#">LinkedIn</a>. My code is viewable at <a href="https://www.github.com/peterjungers" target="_blank">GitHub</a>.
        </p>
    </section>

    <section class="grid-tables">
        <!-- Languages -->
        <table id="languages" class="fixed-table-width">
            <caption>Languages</caption>
            <tr>
                <th class="python">Python</th>
                <th class="html">HTML</th>
            <tr>
                <td class="python-light">Flask</td>
                <th class="css">CSS</th>
            </tr>
            <tr>
                <td class="python-light">Django</td>
                <td class="css-light">Bootstrap</td>
            </tr>
            <tr>
                <td class="python-light">SQLAlchemy</td>
                <th class="sql">SQL</th>
            </tr>
            <tr>
                <td class="python-light">Jinja2</td>
                <td class="sql-light">T-SQL</td>
            </tr>
            <tr>
                <th class="js">JavaScript</th>
                <td class="sql-light">SQLite</td>
            </tr>
        </table>

        <!-- Technical skills -->
        <table id="technical-skills" class="fixed-table-width">
            <caption>Technical skills</caption>
            <tr><td>Experience using Git and GitHub</td></tr>
            <tr><td>Fundamental knowledge of TCP/IP stack</td></tr>
            <tr><td>Relational database design knowledge</td></tr>
            <tr><td>Comfortable on Unix/Linux command line</td></tr>
            <tr><td>Proficient with macOS</td></tr>
            <tr><td>Comfortable with Windows OS</td></tr>
        </table>

        <!-- Software -->
        <table id="software" class="fixed-table-width">
            <caption>Software</caption>
            <tr><th>IDE</th></tr>
            <tr><td>PyCharm</td></tr>
            <tr><td>DataGrip</td></tr>
            <tr><td>WebStorm</td></tr>
            <tr><th>Browser developer tools</th></tr>
            <tr><td>Chrome</td></tr>
            <tr><td>Safari</td></tr>
            <tr><td>Firefox</td></tr>
            <tr><th>Adobe Creative Suite</th></tr>
            <tr><td>InDesign</td></tr>
            <tr><td>Illustrator</td></tr>
            <tr><td>Photoshop</td></tr>
            <tr><th>Google Workspace</th></tr>
            <tr><td>Docs</td></tr>
            <tr><td>Sheets</td></tr>
            <tr><td>Drive</td></tr>
            <tr><th>Microsoft Office</th></tr>
            <tr><td>Word</td></tr>
            <tr><td>Excel</td></tr>
            <tr><td>PowerPoint</td></tr>
            <tr><td>Access</td></tr>
            <tr><td>Visio</td></tr>
        </table>

        <div id="table-container">
            <!-- Education -->
            <table id="education">
                <caption>Education</caption>
                <tr><th>Computer Information Systems</th></tr>
                <tr><td>Associate of Applied Science (in progress)</td></tr>
                <tr><td>Portland Community College</td></tr>
                <tr><td>Current GPA: 4.0</td></tr>
                <tr><th>Graphic Design</th></tr>
                <tr><td>Associate of Applied Science</td></tr>
                <tr><td>Portland Community College</td></tr>
                <tr><td>Graduated 2011</td></tr>
                <tr><td>GPA: 3.92</td></tr>
                <tr><th>English, Creative Writing emphasis</th></tr>
                <tr><td>Bachelor of Arts</td></tr>
                <tr><td>University of Colorado at Boulder</td></tr>
                <tr><td>Graduated 2001</td></tr>
                <tr><td>GPA: 3.48</td></tr>
            </table>

            <table id="hobbies">
                <caption>Hobbies</caption>
                <tr>
                    <th>Musician and songwriter</th>
                </tr>
                <tr>
                    <td>
                        I have written and recorded over 30 albums both collaboratively and solo, ranging from pop songs to noisy experimental noodling.
                    </td>
                </tr>
                <tr><th><a href="https://mac68kmusic.wordpress.com" target="_blank">Mac 68K — Experimental Apple</a></th></tr>
                <tr>
                    <td>
                        A music project with a friend using Apple’s HyperCard and vintage Macs. Happily, there was a pre-existing WordPress template that fit the theme perfectly.
                    </td>
                </tr>
                <tr><th>Super Mario Maker 2 — Maker ID: LNL-6JF-GSG</th></tr>
                <tr>
                    <td>
                        I enjoy Nintendo—especially Mario games—especially 8-bit Mario games, which this game calls back to beautifully.
                    </td>
                </tr>
            </table>
        </div>

    </section>
{% endblock main_content %}
