{% extends "template.html" %}

{% block header %}
    <h1 class="main-heading"><a href="#">Python projects</a></h1>
{% endblock header %}

{% block main_content %}
    <section class="paragraphs margin-btm-3">
        <p>
            I wanted to note three Python projects that I made before I started developing websites. They are notable because they directly inspired some of the sites in my portfolio. Though these projects were made early in my personal development as a programmer and web developer, I am still satisfied with how they turned out, and they speak to my interest in creating dynamic, useful user experiences—even if a quiz about Super Mario Bros. is “useful” only in an entertaining sense!
        </p>
    </section>

    <!-- DDRL Champions League vehicle database -->
    <section id="ddrl-champions-league" class="margin-btm-4">
        <h2 class="project-heading">DDRL Champions League vehicle database</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>June 2022
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/ddrl_champions_league_vehicles" target="_blank">ddrl_champions_league_vehicles</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Expand my knowledge of the Tkinter GUI framework, as well as the Pygubu Designer program, which uses the tkinter module to helps construct user interfaces; practice N-tier architecture; practice using the sqlite3 module to create a small database.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                The DDRL Champions League vehicle database (the league became the DFDRL only recently), was my first independently made Python project—that is, it was my first Python project made that wasn’t a class assignment. I had been introduced to N-tier programming architecture during the spring term, and quickly realized that working with data and presenting information in a useful way was something I really enjoyed doing. With this program I wanted to create something useful for the league, but as I became more and more enamored of web development, I knew that, rather than reworking this old program, I wanted to create something new and more ambitious—hence the new <a href="#">league website</a>.
            </p>
        </div>
    </section>

    <!-- Super Mario Bros. character database -->
    <section id="smb-character-db" class="margin-btm-4">
        <h2 class="project-heading">Super Mario Bros. character database</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>June/July 2022
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/super_mario_bros_characters" target="_blank">super_mario_bros_characters</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Continue to expand my knowledge of N-tier architecture; learn the csv module and how to work with Commas Seperated Values files.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                This project began as a one-day exercise in learning how to work with CSV files. Because I needed data in order to work with them, I begain creating data based on characters from Mario games over the years and, as tends to happen, I soon realized that I had much bigger plans for my “one-day” project. My idea was to create a program that was partly a database of any or all characters from Mario games, but also a way one could test one’s knowledge of the games: the database for the program starts out empty, and it is up to the user to create the data based on their knowledge: character name, what game that character first appeared in, and what year that game came out. Of course, if one wanted to look the information up as they went, that would be ok, too, and I even provided a link to a resource in order to double-check answers.
            </p>
            <p>
                It is my hope to soon create a web-based version of this program using the Django framework.
            </p>
        </div>
    </section>

    <!-- Super Mario Bros. quiz -->
    <section id="smb-quiz" class="margin-btm-4">
        <h2 class="project-heading">Super Mario Bros. quiz</h2>
        <div class="project-info">
            <ul>
                <li>
                    <span class="text-weight-300">Date: </span>July 2022
                </li>
                <li>
                    <span class="text-weight-300">Code: </span><a href="https://github.com/peterjungers/super_mario_bros_quiz" target="_blank">super_mario_bros_quiz</a>
                </li>
                <li>
                    <span class="text-weight-300">Learning objectives: </span>Challenge myself to create an object-oriented approach to a question-based program.
                </li>
            </ul>
        </div>
        <div class="image-flex">
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
            <figure class="align-center">
                <img src="" alt="">
                <figcaption></figcaption>
            </figure>
        </div>
        <div class="paragraphs">
            <p>
                Earlier in the summer of 2022, I had wanted to make a program that had an interviewer (the program) asking an interviewee (the user) a series of questions that would change based on the user’s response. I wanted to mimic interacting with an intelligent being. It was not on my mind at that point to create an object-oriented approach to the program, but I subsequently wanted to challenge myself to use that approach. Rather than rewriting the program, I decided to make a new one: sticking with the theme of Super Mario from the character database I had recently completed, I created this Super Mario Bros. quiz. It is the direct inspiration for <a href="{{ url_for('full_stack', _anchor='smb-quiz') }}">my first Django project</a>.
            </p>
        </div>
    </section>

{% endblock main_content %}